<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NesMeet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">



                @if (User.IsInRole(nameof(Role.Staff)))
                {
                    <div class="dropdown">
                        <button class="btn btn-outline border-0 d-flex align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="material-icons">expand_more</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <a class="dropdown-item text-dark" asp-area="" asp-controller="TrainerList" asp-action="Index">Manage Trainer</a>

                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Department" asp-action="Index">Manage Deparment</a>

                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Category" asp-action="Index">Manage Category</a>

                            <a class="dropdown-item text-dark" asp-area="" asp-controller="ClassProfile" asp-action="Index">Manage ClassProfile</a>

                            <a class="dropdown-item text-dark" asp-area="" asp-controller="ClassRoom" asp-action="Index">Manage ClassRoom</a>

                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Topic" asp-action="Index">Manage Topic</a>

                        </div>
                    </div>
                }

                </ul>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NesMeet</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="navbar-nav flex-grow-1">

                        @if (User.IsInRole(nameof(Role.Admin)))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Manage User</a>
                            </li>

                        }
                    </div>

                    <partial name="_LoginPartial" />

                </div>
</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NesMeet 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
